<nav class="navbar">
  <a class="marca" routerLink="/">
    VidalStore
  </a>

  <div class="navegacion">
  @if (usuario()) {
    <a routerLink="/catalogo" routerLinkActive="activo">
      Catálogo
    </a>

    <a routerLink="/biblioteca" routerLinkActive="activo">
      Biblioteca
    </a>

    @if (esEditor()) {
      <a routerLink="/editor" routerLinkActive="activo">
        Editor
      </a>
    }

    @if (esAdministrador()) {
      <a
        routerLink="/administracion"
        routerLinkActive="activo"
      >
        Administración
      </a>
    }

    <div class="usuario">
      <button
        type="button"
        class="usuario-boton"
        (click)="alternarMenu()"
      >
        {{ nombre() || email() || usuario() }}
      </button>

      @if (menuAbierto()) {
        <div class="usuario-menu">
          <p>
            <strong>Nombre:</strong>
            {{ nombre() || 'No registrado' }}
          </p>

          <p>
            <strong>Correo:</strong>
            {{ email() || usuario() }}
          </p>

          <button
            type="button"
            (click)="cerrarSesion()"
          >
            Cerrar sesión
          </button>
        </div>
      }
    </div>
  } @else {
    <a routerLink="/registro" routerLinkActive="activo">
      Crear cuenta
    </a>

    <button
      type="button"
      class="login"
      (click)="iniciarSesion()"
    >
      Iniciar sesión
    </button>
  }
</div>
</nav>